[submodule "sensor-nodes/libraries/JeeLib"]
	path = sensor-nodes/libraries/JeeLib
	url = https://github.com/j54n1n/jeelib.git
[submodule "sensor-nodes/libraries/Rfm69"]
	path = sensor-nodes/libraries/Rfm69
	url = https://github.com/j54n1n/rfm69.git
[submodule "sensor-nodes/libraries/SpiDevice"]
	path = sensor-nodes/libraries/SpiDevice
	url = https://github.com/j54n1n/spidevice.git
[submodule "sensor-nodes/libraries/SpiFlash"]
	path = sensor-nodes/libraries/SpiFlash
	url = https://github.com/j54n1n/spiflash.git
[submodule "sensor-nodes/libraries/ArduinoJson"]
	path = sensor-nodes/libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
